*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-size: 30px;
    overflow-x: hidden;
    color: color;
    font-family: 'Flamenco', cursive;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(../image/yellow.jpg);
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.clearfix:after{
    content: " ";
    visibility: "";
    display: block;
    height: 9px;
    clear: both;
}
.row{
    max-width: 1180px;
    margin:0 auto;
}
.main-nav{
    float: right;
    margin-top: 30px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a{
    padding: 5px 2px;
    color:#000;
    text-shadow:  #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 90%;
    font-weight: 100;
}
.main-nav li a:hover{
    color: yellow;
    font-weight: 1000;
}

.table{
    margin-left:650px;
}
.search{
    margin-left:670px;
    margin-top:35px;
}
.name1{
    padding-right: 5px;
}
.standered1{
   padding-right: 15px;
}
.submit{
    margin-left: 290px;
    width: 95px;
    height: 35px;
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 300;
    background-color: rgb(214, 214, 214);
}
.submit:hover{
    background-color: #88bbf5;
}
.main-content-header{
    border-top: 3px solid black;
}
h2{
    margin-top: 0px;
    margin-bottom:5px;
    margin-left: 260px;
}

.table1{
    color: black;
    margin-left: 270px;
    /* padding-left: 2rem; */
}

.table1 th{
    margin-right: 270px;
    font-size: 1.8rem;
}
.table2 th{
    margin-right: 270px;
    font-size: 1.8rem;
}
.table2{
    margin-left: 270px;
    margin-top: 5px;
}

.table3{
    margin-left: 270px;
    margin-top: 4px;
}
.table4 th{
    margin-right: 270px;
    font-size: 1.8rem;
}
.table3{
    margin-left: 270px;
    margin-top: 5px;
    
}
.table4{
    margin-top: 4px;
    margin-left: 270px;
}
.h3{
    margin-left: 70px;
    margin-top: 5px;
}
.h_3{
    margin-left: 70px;
    margin-top: 0px;
}
p{
    margin-left: 375px;
}
h4{
    margin-left: 285px;
    margin-top: 10px;
}
.tr{
    font-size: 25px;
    padding-left: 230px;
}

.class{
    margin-left: 9px;
    background:transparent;
    color:white;
    text-align: center;
}
.rollno{
    margin-left: 5px;
    background:transparent;
    color:white;
    text-align: center;
}
/*///////Responsive Query///////*/
.th{
    height: 1.9rem;
    width: 20rem;
    padding-left: 10px;
    margin-left: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.th::placeholder{
    padding-left: 10px;
}
table{
    margin-left: 290px;
    margin-bottom: 5px;
    font-size: 19px;
}
span{
    padding-left: 30px;
}